/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
/* dl,
dt,
dd, */
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

/* ol, ul {
	list-style: none;
} */
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */

/* custom css */

/* general */

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */

header {
    background-color: #f96115;
}

.header {
    padding: 20px 0;
    display: inline-block;
}

.header a {
    margin-right: 50px;
    font-size: 24px;
}

/* main */

main {
    background-color: #d4cea7;
}

.p-box {
    padding-top: 40px;
}

.c-box {
    width: 30%;
    background-color: #005979;
    box-shadow: 5px 10px 2px #7f7861;
}

.c-box-1 {
    padding: 20px 0;
    margin-left: 30px;
}

.c-box-1 li {
    margin-top: 10px;
    font-size: 24px;
    color: white;
    list-style-position: inside;
}

.sub-menu {
    list-style-type: decimal;
}

.dot {
    list-style: square;
}

dl {
    padding: 40px 0;
    margin: 0;
}

dt {
    font-size: 36px;
    font-family: 'DM Serif Display';
}

dd {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Karla';
    color: grey;
    margin: 15px 5px 15px 0;
}
.img{
    list-style-image: url(./image1.jpg);
}

/* footer */

footer{
    background-color: #252c22;
}